body {
    margin: 0;
    background: url('images/blur-flower.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styling */

header {
    padding: 20px;
}

header, header h1 {
    margin: 0;
}

header h1 {
    font-size: 32px;
    color: #2B0125;
}

/* User Input / Form Styling (Mobile) */

.search-area {
    margin: 0;
    padding: 0;
}

.user-input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* label {
    width: 20%;
} */

input {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

form button {
    border: none;
    border-radius: 5px;
    background: rgba(13,176,248,0.6);
}

/* Weather Result Styling (Mobile) */

.results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    width: 75%;
    margin: 20px;
    background-color: rgba(237, 237, 237, 0.4);
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-temp {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.temp {
    font-size: 28px;
    font-weight: 400;
    padding-right: 15px;
}

.feels-like {
    font-style: italic;
}

.weather-details {
    border-left: 2px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.weather-list {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weather-list li {
    padding: 5px;
}

/* Forecast Button Styling (Mobile) */

form button {
    width: 88px;
}

.forecast-btn {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

/* Desktop Styling */

/* @media all and (min-width: 600px) {

    .card {
        width: 30%;
    }

    .weather-list {
        flex-direction: column;
    }
} */