@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Overpass:wght@100;200;300;400;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    margin-bottom: auto;
    background: url('images/blur-flower.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styling */

header {
    padding: 20px;
}

header, header h1 {
    margin: 0;
}

header h1 {
    font-size: 38px;
    color: #2B0125;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
}

/* User Input / Form Styling (Mobile) */

.search-area {
    margin: 0;
    padding: 0;
}

.user-input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* label {
    width: 20%;
} */

input {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    width: 200px;
    outline: none;
}

button {
    border: none;
    border-radius: 5px;
    background: rgba(13,176,248,0.6);
    width: 88px;
    cursor: pointer;
    outline: none;
}

/* Weather Result Styling (Mobile) */

h2, h3 {
    font-family: 'Overpass', sans-serif;
}

.results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    width: 75%;
    margin: 20px;
    background-color: rgba(237, 237, 237, 0.4);
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-temp {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.temp {
    font-size: 42px;
    font-weight: 200;
    margin: 0;
}

.feels-like {
    font-style: italic;
    font-size: 14px;
}

.weather-list {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.weather-list li {
    padding: 5px;
}


/* Forecast Button Styling (Mobile) */

.forecast-btn {
    display: flex;
    justify-content: center;
}

.forecast-btn button {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #c3d0d4;
    width: fit-content;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

/* Desktop Styling */

@media all and (min-width: 600px) {

    header h1 {
        font-size: 48px;      
        letter-spacing: 8px;
    }

    main {
        padding-top: 30px;
    }

    .weather-list {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .weather-list li {
        line-height: 1.5em;
    }

    button:hover {
        background-color: rgba(13, 178, 248, 0.342);
    }

    button:active {
        background-color: rgba(13, 178, 248, 0.062);
    }

    .forecast-btn button:hover {
        color: #bae6f3;
    }

    .forecast-btn button:active {
        color:  #FFFFC8;
    }
    
}

@media all and (min-width: 950px) {

    .card {
        width: 30%;
    }

    .weather-list {
        flex-direction: column;
        flex-wrap: wrap;
    }
}